# Get token from https://t.me/botfather
TELEGRAM_BOT_TOKEN=

# Backend
BACKEND_JWT_REFRESH_TOKEN=
BACKEND_URL=http://127.0.0.1:8000
TOKEN_MAX_AGE_HOURS=20

# Docker
LEETCODE_BOT_NETWORK=leetcode_bot_network
