# Get token from https://t.me/botfather
TELEGRAM_BOT_TOKEN=

# Backend
BACKEND_JWT_REFRESH_TOKEN=
BACKEND_URL=http://127.0.0.1:8000
TOKEN_MAX_AGE_HOURS=20

# Docker
LEETCODE_BOT_NETWORK=leetcode_bot_network

# Cumulative rating points
CML_EASY_POINTS=0.5
CML_MEDIUM_POINTS=1.5
CML_HARD_POINTS=5
